*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body,
html {
  direction: rtl;
  background: #E5E5E5;
}


body,
button,
input,
textarea {
  color: #262626;
  font-family: IRANSans, sans-serif !important;
  font-size: 14px;
  line-height: 18px;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  // font: yekan, 'BYekan', tahoma;
  vertical-align: baseline;
  font-size: inherit;
}

#__next,
article,
div,
footer,
header,
main,
nav,
section {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-sizing: border-box;
  // border: 1px solid #262626;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
a,
a:visited {
  color: #003569;
  text-decoration: none;
}

// a:active {
//   opacity: 0.5;
// }

h1,
h2,
h3 {
  // padding-bottom: 20px;
  padding-bottom: 0px;
}

ol,
ul {
  list-style: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}