.heading-primary {
    word-break: break-word;
    color: $font-black;
    min-width: 0;
    text-align: right;
    max-width: 100%;
    word-wrap: break-word;
    display: block;
    text-decoration: none;
    &:before {
      display: block;
      content: "";
      margin-top: -5px;
      height: 0;
    }
    &:after {
      display: block;
      content: "";
      margin-bottom: -4px;
      height: 0;
    }

    &--main {
        line-height: 36px;
        font-size: 24px;
        font-weight: 800;
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: ellipsis;
        position: relative;
        white-space: nowrap;
        display: block;
    }

    &--sub {
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #454545
    }
}