.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}


.mt-16 {
    margin-top: 16px;
}
.mr-16 {
    margin-right: 16px;
}
.ml-16 {
    margin-left: 16px;
}
.mb-16 {
    margin-bottom: 16px;
}

.mt-18 {
    margin-top: 18px;
}
.mr-18 {
    margin-right: 18px;
}
.ml-18 {
    margin-left: 18px;
}
.mb-18 {
    margin-bottom: 18px;
}

.mt-24 {
    margin-top: 24px;
}
.mr-24 {
    margin-right: 24px;
}
.ml-24 {
    margin-left: 24px;
}
.mb-24 {
    margin-bottom: 24px;
}


.hgt-44 {
    height: 44px;
}

.resize-none {
    resize: none;
}