.container {
    min-height: 50rem;
}

.header {
    display: flex;
    height: 68px;
    background: #FFFFFF;
    box-shadow: 0px 3px 50px -1px rgba(50, 50, 71, 0.05);
    border-radius: 0px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        flex-grow: 1;
    }

    .overview {
        width: 144px;
        height: 36px;
        right: 56px;

        &__heading {
            font-size: 24px;
            font-weight:800;
            line-height: 36px;
            text-align: right;
            color: #222222;
        }
    }

}

.user-nav {
    display: flex;
    flex-direction: row;
    left: 56px;
    align-items: center;

    & > * {
        padding: 0 2rem;
    }

    &__button {
        display: flex;
        width: 126px;
        height: 36px;
        background: $color-primary;
        border-radius: 6px;
        align-items: center;
        border: 0;
        outline: none;
        justify-content: center;
        cursor: pointer;

        &--box {
            flex-direction: row;
            display: inline-flex;
            align-items: center;
        }

        &--icon {
            width: 10px;
            height: 10px;
            filter: invert(100%);
            transform: scale(1.7);
        }

        &--text {
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            font-weight: 700;
            color: #fff;
            width: 56px;
            height: 20px;
            left: calc(50% - 56px/2 - 14px);
            top: calc(50% - 20px/2);
            margin: 0px 8px;
            flex-grow: 0;
            order: 0;
        }
    }

    &__user {
        flex-direction: row;
        align-items: center;
    }

    &__user-photo {
        border-radius: 50%;
        margin-left: 1rem;
        width: 44px;
        height: 44px;
        border: 1px solid #E4E9EC;
    }

    &__user-name {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        font-weight: 700;
        color: #454545;
        align-self: stretch;
    }

    &__arrow--drop-down {
        width: 14px;
        height: 11px;
        transform: scale(2.2);
        margin-right: 19px;
        filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    }
}

.main {
    margin: 32px 56px;
}