.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    width: 100px;
    height: 36px;
    cursor: pointer;

    &-primary {
        background: #199DA3;
        color: #fff;
    }

    &-secondary {
        background: transparent;
        color: #199DA3;
    }
}