.comments {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem ;
}

.comment {
  position: relative;
  margin: 0;
  min-width: 0;
  flex-shrink: 1;
  z-index: 0;
  flex-grow: 1;
  overflow-y: hidden;
  box-shadow: 0px 3px 8px -1px $shadow-light, 0px 0px 1px $shadow-dark;
  overflow-x: hidden;
  border-radius: 8px;
  width: 100%;
  background-color: $color-secondary-light;
  z-index: 0;

  &__head {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      height: 48px;
      background-color: $color-white;
      // opacity: 0.7;
      box-shadow: 0px 3px 8px -1px $shadow-light, 0px 0px 1px $shadow-dark;

      &--right {
          flex-direction: row;
          align-items: center;
      }

      &--left {
          flex-direction: row;
          align-items: center;
      }
  }

  &__user-photo {
      border-radius: 8px;
      margin-left: 1rem;
      width: 32px;
      height: 32px;
      border: 1px solid #E4E9EC;
  }

  &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #222222;
  }

  &__createdAt {
      flex-direction: row;
      margin-left: 30px;

      & > * {
          padding-right: 6px;
      }

      &--content {
          flex-direction: row;
      }

      &--text {
          color: #777777;
          font-weight: 400;
          font-size: 12px;
          line-height: 24px;
          text-align: right;
      }

      &--time {
          font-weight: 700;
          font-size: 12px;
          line-height: 24px;
          text-align: right;
          color: #222222;
          margin-right: 5px;
      }

      &--line {
          border-left: 1px solid rgba(0, 0, 0, 0.1);;
      }
  }

  &__activity {
      flex-direction: row;
      align-items: center;

      &-box--right {
        flex-direction: row;
        align-items: center;
      }

      &-box--left {
        flex-direction: row;
        align-items: center;
        margin-right: 36px;
      }

      &--icon-positive {
          width: 16.5px;
          height: 16.5px;
          filter: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
      }

      &--icon-negative {
        width: 16.5px;
        height: 16.5px;
        filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    }

      &--count {
          font-weight: 700;
          font-size: 12px;
          line-height: 24px;
          text-align: right;
          margin: 0px 4px;

          &::before {
            content: '';
            margin-top: -4px;
            display: block;
            height: 0;
          }

          &::after {
            content: '';
            margin-top: -5px;
            display: block;
            height: 0;
          }
      }
  }

  &__body {
      background: $color-secondary-light;
      box-shadow: 0px 3px 8px -1px $shadow-light, 0px 0px 1px $shadow-dark;
      padding: 19px 16px;

      &--column-top {
        margin-bottom: 16px;
      }

      &--column-bottom {
          align-self: end;
          flex-direction: row;
          justify-content: space-between;
          width: 22%;
      }
  }

  &__comment--text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
  }

  &__button {
      width: 126px;
      height: 36px;
      border: 1px solid #E4E9EC;
      border-radius: 6px;
      background: transparent;
      outline: none;
      cursor: pointer;

      &--box {
        flex-direction: row;
        display: inline-flex;
        align-items: center;
      }

      &--icon-positive {
        width: 10px;
        height: 10px;
        filter: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
        transform: scale(1.7);
      }
      
      &--text-positive {
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: #66CB9F;
        text-align: center;
      }

      &--icon-negative {
        width: 10px;
        height: 10px;
        filter: invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%);
        transform: scale(1.7);
      }
      
      &--text-negative {
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: #F16063;
        text-align: center;
      }
  }

  &__error {
      margin-top: 20px;
      width: 653px;
      height: 140px;

      &--photo {
          width: 100%;
          height: 100%;
          object-fit: contain;
      }
  }
}
