.form {
    &__label {
        overflow-y: hidden;
        border-radius: 6px;
        cursor: text;
        overflow-x: hidden;
        position: relative;
        display: flex;
        z-index: 0;
        background: $color-white;
        flex-direction: column;
        border: 1px solid #CED0D4;
        outline: none;        
    }

    &__textarea {
        overflow-y: hidden;
        box-sizing: border-box;
        margin-bottom: 10px;
        color: #050505;
        -webkit-tap-highlight-color: transparent;
        overflow-x: hidden;
        padding-top: 12px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        resize: none;
        padding-right: 16px;
        padding-left: 16px;
        background-color: transparent;
        line-height: 20px;
        touch-action: manipulation;
        border-left: none;
        border-bottom: none;
        border-top: none;
        border-right: none;
        outline: none;
    }

    &__error {

        margin: 8px 21px 24px 0;

        &--guide {
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 16px;
            color: #F16063;
            text-align: right;
        }
    }

    &__button {
        display: flex;
        background-color: $color-primary;
        width: 200px;
        height: 36px;
        border-radius: 6px;
        border: 0;
        outline: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &--text {
            color: $color-white;
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
        }
    }
}