.modal {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    z-index: 3;
    
    &__dialog {
        background: #F9F9F9;
        box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px rgba(12, 26, 75, 0.24);
        margin: auto;
        max-width: 700px;
        max-height: 440px;
        width: 100%;
        border-radius: 6px;
        align-items: stretch;
    }

    &__header {
        flex-direction: row;
        justify-content: space-between;
        background: $color-white;
        box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px rgba(12, 26, 75, 0.24);
        height: 48px;
        align-items: center;
        padding: 0 24px 0 16px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        cursor: pointer;
        width: 36px;
        height: 36px;

        &--icon {
            width: 15px;
            height: 15px;
        }
    }

    &__body {
        padding: 18px 20px 0 20px;
    }

    &__footer {
        flex-direction: row;
        align-self: flex-end;
        padding: 24px 24px;
        width: 32%;
        justify-content: space-between;
    }
}

.form-group {
    margin-bottom: 14px;
}

.col-form-label {
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    text-align: right;
    color: #454545;
}

.form-control {
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid #EEEEEE;
    outline: none;
    touch-action: manipulation;
    width: 100%;
    font-weight: 400;
    text-align: right;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    color: #222222;
}